<html>
<head></head>
<body>
{% if request.user.is_authenticated %}
    <a href="{% url 'create_post' %}">--Add Post--</a>
    <a href="{% url 'reply_list' %}">--My Replies--</a>
    <a href="/accounts/logout/">--Log out--</a>
{% else %}
    <a href="/accounts/login/">--Authorisation--</a>
{% endif %}
<hr>
    {% if posts %}
        {% for post in posts %}
            <p>Title : {{ post.title}}</p>
            <p>Post : {{ post.text }}</p>
            <img src="/media/{{ post.upload }}" width="200" alt="Image">
            {% if request.user.is_authenticated %}
                {% if not request.user == post.author %}
                    <a href="{% url 'reply_create' post.id %}">--Reply--</a>
                {% else %}
                    <a href="{% url 'post_update' post.id %}">--Edit--</a>
                    <a href="{% url 'post_delete' post.id %}">--Delete--</a>
                {% endif %}
            {% endif %}
            <hr>
        {% endfor %}
    {% else %}
        There is no posts
    {% endif %}
</body>
</html>